/* Grid Layout for the entire page */
.grid-container {
  display: grid;
  grid-template-columns: 14.45% 85.55%; /* Sidebar and Main content */
  grid-template-rows: 7.54% 92.46%; /* Header height and main content height */
  grid-template-areas:
    "sidebar header"
    "sidebar main"; /* Sidebar and main content layout */
  height: 100vh; /* Full height of the viewport */
}

/* Header styles */
.header {
  background-color: white;
  grid-area: header;
  align-items: center; /* Vertically center the content */
  padding: 0;
  margin: 0;
}

.sidebar {
  grid-area: sidebar;
}

/* Main content area styles */
.main-container {
  grid-area: main; /* Assign the main area in the grid */
  background-color: #f0eeee; /* Main content background color */
  padding: 16px 16px 0 16px; /* Padding for spacing */
  overflow-y: auto; /* Allow vertical scrolling */
  box-sizing: border-box;
}
