<div class="sidebar" [class.collapsed]="!sidebarOpen">
  <div class="sidebar-item">
    <div class="logo-container">
      <img
        class="logo-image"
        src="/images/logo-dash.png"
        alt=""
        *ngIf="sidebarOpen"
      />
      <img
        class="logo-image"
        src="/images/logo-mark (1).png"
        alt=""
        *ngIf="!sidebarOpen"
      />
    </div>

    <div class="sidebar-list">
      <div class="dashboard-lists">
        <ul>
          <li
            [routerLink]="['/home']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #homeLink="routerLinkActive"
            [title]="!sidebarOpen ? 'Dashboard' : ''"
          >
            <img
              [src]="
                homeLink.isActive
                  ? '/images/monitor.png'
                  : '/images/monitor (1).png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">Dashboard</span>
          </li>

          <li
            [routerLink]="['/home/hr-overview']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #hrmLink="routerLinkActive"
            [title]="!sidebarOpen ? 'HR Overview' : ''"
          >
            <img
              [src]="
                hrmLink.isActive
                  ? '/images/people-filled.png'
                  : '/images/people-dash.png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">HR Overview</span>
          </li>

          <li
            [routerLink]="['/home/communication']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #comLink="routerLinkActive"
            [title]="!sidebarOpen ? 'Communication Tool' : ''"
          >
            <img
              [src]="
                comLink.isActive
                  ? '/images/messages-filled.png'
                  : '/images/messages-dash.png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">Communication Tool</span>
          </li>

          <li
            [routerLink]="['/home/project-management/project-list']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #projectLink="routerLinkActive"
            [title]="!sidebarOpen ? 'Project Management' : ''"
          >
            <img
              [src]="
                projectLink.isActive
                  ? '/images/Frame 49.png'
                  : '/images/task-square-dash.png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">Project Management</span>
          </li>

          <li
            [routerLink]="['/home/alerts']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #alertLink="routerLinkActive"
            [title]="!sidebarOpen ? 'Alerts' : ''"
          >
            <img
              [src]="
                alertLink.isActive
                  ? '/images/sms-tracking-filled.png'
                  : '/images/sms-tracking-dash.png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">Alerts</span>
          </li>

          <li
            [routerLink]="['/home/integrate-dash']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #integrateLink="routerLinkActive"
            [title]="!sidebarOpen ? 'Integration' : ''"
          >
            <img
              [src]="
                integrateLink.isActive
                  ? '/images/convertshape.png'
                  : '/images/integrate-dash.png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">Integration</span>
          </li>

          <li
            [routerLink]="['/home/subscription-dash']"
            [title]="!sidebarOpen ? 'Subscription' : ''"
          >
            <img src="/images/subscription-dash.png" alt="" />
            <span *ngIf="sidebarOpen">Subscription</span>
          </li>

          <li
            [routerLink]="['/home/user-management']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #userLink="routerLinkActive"
            [title]="!sidebarOpen ? 'User Management' : ''"
          >
            <img
              [src]="
                userLink.isActive
                  ? '/images/user-square-filled.png'
                  : '/images/user-search-dash.png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">User Management</span>
          </li>

          <li
            [routerLink]="['/home/company-profile']"
            routerLinkActive="active-sidebar"
            [routerLinkActiveOptions]="{ exact: true }"
            #companyprofileLink="routerLinkActive"
            [title]="!sidebarOpen ? 'Company Setup' : ''"
          >
            <img
              [src]="
                companyprofileLink.isActive
                  ? '/images/card-bold.png'
                  : '/images/card (1).png'
              "
              alt=""
            />
            <span *ngIf="sidebarOpen">Company Setup</span>
          </li>
        </ul>
      </div>

      <div class="logout">
        <ul>
          <li (click)="onLogout()" [title]="!sidebarOpen ? 'Logout' : ''">
            <img src="/images/logout-dash.png" alt="" />
            <span *ngIf="sidebarOpen">Logout</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
