<div class="sidebar" [class.open]="sidebarOpen">
  <div class="sidebar-item">
    <img src="/images/logo-dash.png" alt="" />
    <div class="sidebar-list">
      <ul>
        <li
          [routerLink]="['/home']"
          routerLinkActive="active-sidebar"
          [routerLinkActiveOptions]="{ exact: true }"
          #homeLink="routerLinkActive"
        >
          <img
            [src]="
              homeLink.isActive
                ? '/images/monitor.png'
                : '/images/monitor (1).png'
            "
            alt=""
          />Dashboard
        </li>
        <li
          [routerLink]="['/home/hr-overview']"
          routerLinkActive="active-sidebar"
          [routerLinkActiveOptions]="{ exact: true }"
          #hrmLink="routerLinkActive"
        >
          <img
            [src]="
              hrmLink.isActive
                ? '/images/people-filled.png'
                : '/images/people-dash.png'
            "
            alt=""
          />HR Overview
        </li>
        <li
          [routerLink]="['/home/communication']"
          routerLinkActive="active-sidebar"
          [routerLinkActiveOptions]="{ exact: true }"
          #comLink="routerLinkActive"
        >
          <img
            [src]="
              comLink.isActive
                ? '/images/messages-filled.png'
                : '/images/messages-dash.png'
            "
            alt=""
          />Communication Tool
        </li>

        <li>
          <img src="/images/task-square-dash.png" alt="" />Project Managememt
        </li>
        <li><img src="/images/sms-tracking-dash.png" alt="" />Alerts</li>
        <li><img src="/images/integrate-dash.png" alt="" />Integration</li>
        <li><img src="/images/subscription-dash.png" alt="" />Subscription</li>
        <li>
          <img src="/images/user-square-dash.png" alt="" />User Management
        </li>
        <li><img src="/images/user-search-dash.png" alt="" />Audit Logs</li>
      </ul>
      <ul>
        <li (click)="onLogout()">
          <img src="/images/logout-dash.png" alt="" />Logout
        </li>
      </ul>
    </div>
  </div>
</div>
