<div class="onboard-content">
  <div class="logo">
    <h1>LOGO</h1>
  </div>
  <div class="display">
    <h1>Welcome Back!</h1>
    <h3>Please enter your details to signup</h3>

    <div class="form">
      <label for="email">Email Address</label>
      <input type="email" placeholder="Enter email address" />
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" />
      <span class="forgot">Forgot Password?</span>
    </div>
  </div>

  <div class="bottom-display">
    <button>Log in</button>
    <span>Or</span>
    <button>Google</button>
    <button>Microsoft Azure</button>
  </div>
</div>
