<div class="onboard-content">
  <div class="logo">
    <h1>LOGO</h1>
  </div>
  <div class="display">
    <h1>Welcome Back!</h1>
    <h3>Please enter your details to signup</h3>

    <div class="form">
      <label for="email">Email Address</label>
      <input
        type="email"
        placeholder="Enter email address"
        style="
          background-image: url('/images/sms.png');
          background-repeat: no-repeat;
          background-position: 10px center;
          padding-left: 35px;
        "
      />
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Enter Password"
        style="
          background-image: url('/images/lock.png');
          background-repeat: no-repeat;
          background-position: 10px center;
          padding-left: 35px;
        "
      />
      <span class="forgot">Forgot Password?</span>
    </div>
  </div>

  <div class="bottom-display">
    <button [routerLink]="['/home']">Log in</button>
    <span>Or</span>
    <button>
      <img
        src="/images/Symbol.png"
        alt="Microsoft Logo"
        style="width: 20px; height: 20px"
      />Google
    </button>
    <button>
      <img
        src="/images/microsoft.png"
        alt="Microsoft Logo"
        style="width: 20px; height: 20px"
      />Microsoft Azure
    </button>
  </div>
</div>
