<!-- EDIT USER MODAL -->
<app-alert
  [message]="alertMessage"
  [type]="alertType"
  [visible]="showAlert"
></app-alert>

<div
  *ngIf="isEditUSerOpen"
  class="edit-container"
  (click)="$event.stopPropagation()"
>
  <div class="backdrop"></div>
  <div class="user-header">
    <div class="profile-pic">
      <img src="/images/Frame 71.png" alt="" />
    </div>
    <div class="profile-details">
      <div class="name">
        <h1>{{ currentUser ? getUserFullName(currentUser) : "User Name" }}</h1>
        <h4>{{ currentUser?.emailAddress || "email@example.com" }}</h4>
      </div>
      <div class="edit-tools">
        <span (click)="toggleEditMode()">
          <img src="/images/user-edit.png" alt="" />
          {{ isEditMode ? "Cancel Edit" : "Edit User" }}
        </span>
        <span (click)="openWarning(currentUser)">
          <img src="/images/trash.png" alt="" />Delete User
        </span>
      </div>
    </div>
  </div>
  <div class="user-details">
    <form class="form" [formGroup]="userFormUpdate" (ngSubmit)="updateUser()">
      <div class="info-box">
        <div class="info">
          <label for="editUserFirstName">First Name</label>
          <input
            type="text"
            id="editUserFirstName"
            formControlName="firstName"
            [readOnly]="!isEditMode"
          />
        </div>
        <div class="info">
          <label for="editUserLastName">Last Name</label>
          <input
            type="text"
            id="editUserLastName"
            formControlName="lastName"
            [readOnly]="!isEditMode"
          />
        </div>
      </div>
      <div class="info-box">
        <div class="info">
          <label for="editUserEmail">Email Address</label>
          <input
            type="email"
            id="editUserEmail"
            formControlName="emailAddress"
            [readOnly]="!isEditMode"
          />
        </div>
        <div class="info">
          <label for="editUserPhone">Phone Number</label>
          <input
            type="text"
            id="editUserPhone"
            formControlName="phoneNumber"
            [readOnly]="!isEditMode"
          />
        </div>
      </div>
      <div class="info-box">
        <div class="info">
          <label for="editUserDepartment">Department</label>
          <select id="editUserDepartment" formControlName="departmentId">
            <option value="">Select Department</option>
            <option *ngFor="let dept of department" [value]="dept.id">
              {{ dept.departmentName }}
            </option>
          </select>
        </div>
        <div class="info">
          <label for="editUserRole">Role</label>
          <select id="editUserRole" formControlName="roleId">
            <option value="">Select Role</option>
            <option *ngFor="let r of role" [value]="r.roleId">
              {{ r.roleName }}
            </option>
          </select>
        </div>
      </div>
      <div class="info-box">
        <div class="info">
          <label>Status</label>
          <input
            type="text"
            [class]="getStatusClass(userFormUpdate.value.isActive)"
            [value]="userFormUpdate.value.isActive ? 'Active' : 'Inactive'"
            readonly
            tabindex="-1"
          />
        </div>
      </div>
      <div class="bottom">
        <div class="left">
          <button
            [disabled]="!isEditMode"
            [ngClass]="
              userFormUpdate.value.isActive ? 'danger-btn' : 'success-btn'
            "
            (click)="toggleActiveStatus($event)"
            type="button"
          >
            {{ userFormUpdate.value.isActive ? "Deactivate" : "Activate" }}
          </button>
        </div>
        <div class="right">
          <button class="primary-btn" (click)="closeEditUser()" type="button">
            Cancel
          </button>
          <button *ngIf="isEditMode" type="submit" class="secondary-btn">
            <span *ngIf="!isButtonLoading">Save</span>
            <span *ngIf="isButtonLoading" class="button-loader">
              <span class="spinner"></span>
              Saving...
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MAIN USER TABLE AND ADD USER MODAL -->
<div *ngIf="!isEditUSerOpen" class="main-container">
  <div class="header">
    <div class="left-end">
      <h1>User Management</h1>
      <h4>Add, edit and delete Users to control access and permissions</h4>
    </div>
    <div class="right-end">
      <button class="secondary-btn" (click)="openModal()">Add User</button>
    </div>
  </div>
  <!-- TABLE -->
  <table>
    <thead>
      <tr>
        <th class="name-column"><h1>Name</h1></th>
        <th class="email-column">Email</th>
        <th class="role-column">Role</th>
        <th class="status-column"><h1>Status</h1></th>
      </tr>
    </thead>
    <ng-container *ngIf="loadingData">
      <tr>
        <td colspan="5">
          <app-insytha-skeleton-loader
            [count]="1"
            [height]="'15rem'"
            [width]="'100%'"
            [border_radius]="'1rem'"
          ></app-insytha-skeleton-loader>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!loadingData">
      <tbody>
        <tr *ngFor="let user of users">
          <td class="name-column">
            <div class="name-content">
              <img src="/images/Ellipse 7.png" alt="" />
              <span>{{ getUserFullName(user) }}</span>
            </div>
          </td>
          <td class="email-column">
            <div class="email-content">{{ user.emailAddress }}</div>
          </td>
          <td class="role-column">
            <div class="role-content">
              {{ getRoleName(user.roleId) }}
            </div>
          </td>
          <td class="status-column">
            <div class="status-content">
              <span
                [ngClass]="{
                  'active-status': user.isActive,
                  'inactive-status': !user.isActive
                }"
              >
                {{ user.isActive ? "Active" : "Inactive" }}
              </span>
              <div class="icons">
                <img
                  src="/images/edit.png"
                  alt=""
                  (click)="openEditUser(user)"
                />
                <img
                  src="/images/trash.png"
                  alt=""
                  (click)="openWarning(user)"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="users.length === 0">
          <td colspan="4" style="text-align: center; padding: 20px">
            No users found. Add a user to get started.
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>

  <!-- MODALS -->
  <div
    *ngIf="isModalOpen || isWarningModalOpen || isSuccessModalOpen"
    class="modal-overlay"
    (click)="closeModal()"
  >
    <!-- ADD USER MODAL -->
    <div
      *ngIf="isModalOpen"
      class="modal-content"
      (click)="$event.stopPropagation()"
    >
      <div class="header">
        <div class="left">Add User</div>
        <button class="close-btn" (click)="closeModal()">×</button>
      </div>
      <div class="details">
        <form class="form" [formGroup]="userForm" (ngSubmit)="addUser()">
          <div class="info-box">
            <div class="user-dets">
              <label for="addFirstName">First Name</label>
              <input
                id="addFirstName"
                type="text"
                formControlName="firstName"
              />
            </div>
            <div class="user-dets">
              <label for="addLastName">Last Name</label>
              <input id="addLastName" type="text" formControlName="lastName" />
            </div>
          </div>
          <div class="info-box">
            <div class="user-dets">
              <label for="addEmail">Email Address</label>
              <input
                id="addEmail"
                type="email"
                formControlName="emailAddress"
              />
            </div>
            <div class="user-dets">
              <label for="addPhone">Phone Number</label>
              <input id="addPhone" type="text" formControlName="phoneNumber" />
            </div>
          </div>
          <div class="info-box">
            <div class="user-dets">
              <label for="addDepartment">Department</label>
              <select id="addDepartment" formControlName="departmentId">
                <option value="">Select Department</option>
                <option *ngFor="let dept of department" [value]="dept.id">
                  {{ dept.departmentName }}
                </option>
              </select>
            </div>
            <div class="user-dets">
              <label for="addRole">Role</label>
              <select id="addRole" formControlName="roleId">
                <option value="">Select Role</option>
                <option *ngFor="let r of role" [value]="r.roleId">
                  {{ r.roleName }}
                </option>
              </select>
            </div>
          </div>
          <div class="modal-bottom">
            <button type="button" (click)="closeModal()" class="primary-btn">
              Cancel
            </button>

            <button
              [disabled]="userForm.invalid || isButtonLoading"
              type="submit"
              class="secondary-btn"
            >
              <span *ngIf="!isButtonLoading">Add</span>
              <span *ngIf="isButtonLoading" class="button-loader">
                <span class="spinner"></span>
                Adding...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- WARNING MODAL -->
    <div
      *ngIf="isWarningModalOpen"
      class="warning-modal"
      (click)="$event.stopPropagation()"
    >
      <div class="top">
        <div class="images" style="background-color: #ffe5e5">
          <img src="/images/trash-red.png" alt="" />
        </div>
        <h1>Warning</h1>
        <h4>
          Are you sure you want to remove
          {{
            selectedUserForDelete
              ? getUserFullName(selectedUserForDelete)
              : "this user"
          }}
          from the system?
        </h4>
      </div>
      <div class="bottom-modal">
        <button (click)="closeModal()" class="primary-btn">Cancel</button>
        <button (click)="deleteUser()" class="secondary-btn">
          <span *ngIf="!isButtonLoading">Delete</span>
          <span *ngIf="isButtonLoading" class="button-loader">
            <span class="spinner"></span>
            Deleting...
          </span>
        </button>
      </div>
    </div>
    <!-- SUCCESS MODAL -->
    <div
      *ngIf="isSuccessModalOpen"
      class="warning-modal"
      (click)="$event.stopPropagation()"
    >
      <div class="top">
        <div class="images" style="background-color: #e3fce4">
          <img src="/images/tick-circle-green.png" alt="" />
        </div>
        <h1>Success</h1>
        <h4>{{ successMessage }}</h4>
      </div>
      <div class="bottom-modal">
        <button (click)="closeModal()" class="secondary-btn">Close</button>
      </div>
    </div>
  </div>
</div>
