<!-- <div *ngIf="loading" class="loading-indicator">Loading data...</div>
<div *ngIf="!loading && syncing" class="loading-indicator">
  Syncing fresh data...
</div> -->
<div class="top-header">
  <div class="left-end">
    <h3><img src="/images/filter-square.png" alt="" />Today</h3>
  </div>

  <div class="right-end">
    <select name="" id="">
      <option value="">Today</option>
    </select>
    <select name="" id="">
      <option value="">Department</option>
    </select>
    <button class="secondary-btn">Export</button>
  </div>
</div>

<div class="hrm-tab">
  <div class="heading">
    <h3>HRM</h3>
    <h2
      style="
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      "
    >
      <div class="com-tools-connected">
        <div class="com-tools-connected1">
          <img src="/images/Ellipse 10 (3).png" alt="" />
          Teams:
          <span style="color: #5c8503; font-weight: 600">Connected</span>
        </div>
        <div class="com-tools-connected1">
          <img src="/images/Ellipse 10 (3).png" alt="" />
          Slack:
          <span style="color: #5c8503; font-weight: 600">Connected</span>
        </div>
      </div>
    </h2>
    <a href="#">Integrate</a>
  </div>
  <div class="hrm-emp-tab">
    <div class="card-com">
      <img src="/images/Frame 114 (2).png" alt="" />
      <ul>
        <li>Popular Tool</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span>{{ communicationData?.popularTool }}</span>
        </li>
      </ul>
    </div>

    <div class="card-com">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Top Workspace</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span>{{ communicationData?.topChannel }}</span>
        </li>
      </ul>
    </div>

    <div class="card-com">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Low Workspace</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span>{{ communicationData?.lowChannel }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="com-middle-section">
    <div class="middle-content">
      <div class="workspace-header">
        <h2 class="workspace-title">Message Volume</h2>
      </div>

      <table class="workspace-table">
        <tbody class="workspace-table-body">
          <tr class="workspace-row">
            <td class="workspace-name">Message Volume</td>
            <td>{{ communicationData?.messageVolume }}</td>
          </tr>
          <tr class="workspace-row">
            <td class="workspace-name">Total Users</td>
            <td>{{ communicationData?.totalUsers }}</td>
          </tr>
          <tr class="workspace-row">
            <td class="workspace-name">Time Period</td>
            <td>1 day</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="middle-content">
      <h3>Sentiment Trend</h3>
      <div class="values">
        <div class="pie-chart chart-2">
          <div class="label label-10">20%</div>
          <div class="label label-20">10%</div>
          <div class="label label-70">70%</div>
        </div>
        <ul>
          <li><img src="/images/Ellipse green.png" alt="" />High 70&</li>
          <li><img src="/images/Ellipse amber.png" alt="" />Medium 20%</li>
          <li><img src="/images/Ellipse red.png" alt="" />Low 10%</li>
        </ul>
      </div>
    </div>

    <div class="middle-content">
      <div class="workspace-header">
        <h2 class="workspace-title">Workspaces</h2>
      </div>

      <table class="workspace-table">
        <thead>
          <tr>
            <th>Available</th>
            <th>Total No.</th>
            <th>Volume</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="workspace-table-body">
          <tr class="workspace-row">
            <td class="workspace-name">Active Workspaces</td>
            <td>{{ communicationData?.activeChannelCount }}</td>
            <td class="dropdown-cell">
              <span class="volume-number">{{
                communicationData?.activeChannelMessage
              }}</span>
            </td>
            <td>
              <div class="dropdown-arrow"></div>
            </td>
          </tr>
          <tr class="workspace-row">
            <td class="workspace-name inactive-workspace">
              Inactive Workspaces
            </td>
            <td class="inactive-workspace">
              {{ communicationData?.inactiveChannelCount }}
            </td>
            <td class="dropdown-cell">
              <span class="volume-number">{{
                communicationData?.inactiveChannelMessage
              }}</span>
            </td>
            <td>
              <div class="dropdown-arrow"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert-metrics">
    <div class="alert-box">
      <h1>Alert Metrics</h1>
      <table>
        <thead>
          <th>Engagement Metrics</th>
          <th>Previous Score</th>
          <th>Current Score</th>
          <th>% Change</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr>
            <td>Ongoing</td>
            <td>5</td>
            <td>7</td>
            <td>40%</td>
            <td class="status warning">Warning</td>
          </tr>
          <tr>
            <td>At Risk</td>
            <td>10</td>
            <td>12</td>
            <td>20%</td>
            <td class="status normal">Critical</td>
          </tr>
          <tr>
            <td>Overdue</td>
            <td>15</td>
            <td>15</td>
            <td>0%</td>
            <td class="status critical">Normal</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
