<div class="top-header">
  <div class="left-end">
    <h3><img src="/images/filter-square.png" alt="" />Today</h3>
  </div>

  <div class="right-end">
    <select name="" id="">
      <option value="">Today</option>
    </select>
    <select name="" id="">
      <option value="">Department</option>
    </select>
    <button class="secondary-btn">Export</button>
  </div>
</div>

<div class="hrm-tab">
  <div class="heading">
    <h3>HRM</h3>
    <h2
      style="
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      "
    >
      <div class="com-tools-connected">
        <div class="com-tools-connected1">
          <img src="/images/Ellipse 10 (3).png" alt="" />
          Teams:
          <span style="color: #5c8503; font-weight: 600">Connected</span>
        </div>
        <div class="com-tools-connected1">
          <img src="/images/Ellipse 10 (3).png" alt="" />
          Slack:
          <span style="color: #5c8503; font-weight: 600">Connected</span>
        </div>
      </div>
    </h2>
    <a href="">Integrate</a>
  </div>
  <div class="hrm-emp-tab">
    <div class="card-com">
      <img src="/images/Frame 114 (2).png" alt="" />
      <ul>
        <li>Popular Tool</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span>Teams</span>
        </li>
      </ul>
    </div>

    <div class="card-com">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Top Workspace</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span>Design Teams</span>
        </li>
      </ul>
    </div>

    <div class="card-com">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Low Workspace</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span>Project</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="com-middle-section">
    <div class="middle-content">
      <h3>Message Volume</h3>
      <div class="content-table">
        <ul>
          <li>Message Volume</li>
          <li style="justify-self: end">1000</li>
        </ul>
      </div>
      <div class="content-table">
        <ul>
          <li>Total Messages</li>
          <li style="justify-self: end">1000</li>
        </ul>
      </div>
      <div class="content-table">
        <ul>
          <li>Time Period</li>
          <li style="justify-self: end">1 day</li>
        </ul>
      </div>
    </div>

    <div class="middle-content">
      <h3>Performance Trend</h3>
      <div class="values">
        <div class="pie-chart chart-2">
          <div class="label label-10">20%</div>
          <div class="label label-20">10%</div>
          <div class="label label-70">70%</div>
        </div>
        <ul>
          <li><img src="/images/Ellipse green.png" alt="" />High 70&</li>
          <li><img src="/images/Ellipse amber.png" alt="" />Medium 20%</li>
          <li><img src="/images/Ellipse red.png" alt="" />Low 10%</li>
        </ul>
      </div>
    </div>

    <div class="middle-content">
      <h3 style="font-weight: 700">Workspaces</h3>
      <div class="content-table1">
        <ul>
          <li>Positive</li>
          <li style="justify-self: end">70%</li>
          <li style="justify-self: end">
            <img src="/images/arrow-up.png" alt="" />
          </li>
        </ul>
      </div>
      <div class="content-table1">
        <ul>
          <li>Neutral</li>
          <li style="justify-self: end">25%</li>
          <li style="justify-self: end">
            <img src="/images/arrow-right-com.png" alt="" />
          </li>
        </ul>
      </div>
      <div class="content-table1">
        <ul>
          <li>Negative</li>
          <li style="justify-self: end">5%</li>
          <li style="justify-self: end">
            <img src="/images/arrow-down-down.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom-content">
    <h3 style="font-weight: 700">Alert Metrics</h3>

    <div
      class="bottom-content-table1"
      style="background-color: white; height: 40px"
    >
      <ul>
        <li>Employee Name</li>
        <li style="justify-self: center">Previous Score</li>
        <li style="justify-self: center">Current Score</li>
        <li style="justify-self: center">% Change</li>
        <li style="justify-self: center">Status</li>
      </ul>
    </div>

    <div class="bottom-content-table">
      <ul>
        <li>Nafisat Abubakar</li>
        <li style="justify-self: center">1250</li>
        <li style="justify-self: center">1000</li>
        <li style="justify-self: center">
          <img src="/images/arrow-down-red.png" alt="" />250
        </li>
        <li
          style="
            justify-self: center;
            border-radius: 10px;
            width: fit-content;
            padding: 0 10px 0 10px;
          "
          class="bg-danger text-dark"
        >
          Critical
        </li>
      </ul>
    </div>

    <div class="bottom-content-table">
      <ul>
        <li>Nafisat Abubakar</li>
        <li style="justify-self: center">1250</li>
        <li style="justify-self: center">1000</li>
        <li style="justify-self: center">
          <img src="/images/arrow-down-red.png" alt="" />250
        </li>
        <li
          style="
            justify-self: center;
            border-radius: 10px;
            width: fit-content;
            padding: 0 10px 0 10px;
          "
          class="bg-danger text-dark"
        >
          Critical
        </li>
      </ul>
    </div>
  </div>
</div>
