<app-alert
  [message]="alertMessage"
  [type]="alertType"
  [visible]="showAlert"
></app-alert>

<div class="logo-pic">
  <img src="/images/logo.png" alt="" />
</div>
<div class="display">
  <h1>Forgot Password</h1>
  <h3>
    Enter your email address and we'll send you a link to reset your passwod
  </h3>

  <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <label for="emailAddress">Email Address</label>
    <input
      formControlName="emailAddress"
      type="email"
      placeholder="Enter Email"
    />

    <div class="bottom-display">
      <button type="submit" type="submit">
        <span *ngIf="isLoading">Send Reset Link</span>
        <span *ngIf="isLoading"><i class="spinner"></i>Sending....</span>
      </button>
    </div>
  </form>

  <div class="links">
    <a routerLink="[/start/login]">Back to Login</a>
  </div>
</div>
