<app-alert
  [message]="alertMessage"
  [type]="alertType"
  [visible]="showAlert"
></app-alert>
<div class="main-wrapper">
  <div class="logo-pic">
    <img src="/images/logo.png" alt="" />
  </div>
  <div class="display">
    <div class="display-header">
      <h1>Forgot Password</h1>
      <h3>
        Enter your email address and to receive a link to reset your password
      </h3>
    </div>

    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <label for="emailAddress">Email Address</label>
      <input
        formControlName="emailAddress"
        type="email"
        placeholder="Enter Email"
        id="emailAddress"
      />

      <div class="bottom-display-forgot">
        <button type="submit" type="submit" [disabled]="isButtonLoading">
          <span *ngIf="!isButtonLoading">Send Reset Link</span>
          <span *ngIf="isButtonLoading" class="button-loader"
            ><span class="spinner"></span> Sending...</span
          >
        </button>
      </div>

      <div class="link" style="position: relative; bottom: 50px">
        <a [routerLink]="['/start/login']">Back to Login</a>
      </div>
    </form>
  </div>
</div>
