<div class="subscription">
  <div class="logo-pic"><img src="/images/logo.png" alt="" /></div>

  <div class="main-content">
    <h2>Powerful Features</h2>

    <div class="duration">
      <h4>Enjoy our 30 days free trial with full package on each plan</h4>
      <div class="sub-length">
        <button [class.active]="!isYearClicked" (click)="closeYear()">
          Month
        </button>
        <button [class.active]="isYearClicked" (click)="openYear()">
          Year
        </button>
      </div>
    </div>

    <ng-container *ngIf="!isYearClicked">
      <div class="packages-container">
        <div
          class="packages"
          *ngFor="let package of monthlyPackages"
          [class.selected]="selectedPackage === package.name?.toLowerCase()"
          (click)="selectPackageDiv(package.name?.toLowerCase())"
        >
          <span>{{ package.name }}</span>
          <div class="package-details">
            <h1>{{ package.price | currency : "USD" : "symbol" : "1.2-2" }}</h1>
            <h4 *ngIf="package.durationInDays">
              {{ package.durationInDays }} days
            </h4>
            <ul>
              <li *ngFor="let feature of package.features">
                <img src="/images/tick-square.png" alt="" />{{ feature }}
              </li>
            </ul>
          </div>
          <div class="sub-button">
            <button
              class="select-plan"
              [class.active]="selectedPackage === package.name?.toLowerCase()"
              (click)="selectPlan(package.name?.toLowerCase())"
            >
              Select Plan
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="isLoading" class="overlay" (click)="closeModal()"></div>
    <div class="modal-load" *ngIf="isLoading">
      <div class="loading-bar-wrapper">
        <div class="loading-bar"></div>
      </div>
      <div class="load-title">
        <h1>Loading Packages</h1>
        <h4>Hang on this may take a few seconds</h4>
      </div>
    </div>

    <div *ngIf="isLoadingpayment" class="overlay" (click)="closeModal()"></div>
    <div class="modal-load" *ngIf="isLoadingpayment" style="z-index: 9999">
      <div class="loading-bar-wrapper">
        <div class="loading-bar"></div>
      </div>
      <div class="load-title">
        <h1>Redirecting to Payment</h1>
        <h4>Hang on this may take a few seconds</h4>
      </div>
    </div>

    <div *ngIf="isModalOpen" class="overlay" (click)="closeModal()"></div>
    <app-modal *ngIf="isModalOpen" (close)="closeModal()">
      <div class="modal-pay">
        <div class="logo-pic"><img src="/images/logo.png" alt="" /></div>
        <span>Make Payment</span>
        <div class="payment-button">
          <button
            (click)="setPaymentGateway('paystack')"
            [class.active]="selectedGateway === 'paystack'"
          >
            Paystack
          </button>
          <button
            (click)="setPaymentGateway('flutterwave')"
            [class.active]="selectedGateway === 'flutterwave'"
          >
            Flutterwave
          </button>
        </div>
      </div>
    </app-modal>

    <ng-container *ngIf="isYearClicked">
      <div class="packages-container">
        <div
          class="packages"
          *ngFor="let package of yearlyPackages"
          [class.selected]="selectedPackage === package.name?.toLowerCase()"
          (click)="selectPackageDiv(package.name?.toLowerCase())"
        >
          <span>{{ package.name }}</span>
          <div class="package-details">
            <h1>{{ package.price | currency : "USD" : "symbol" : "1.2-2" }}</h1>
            <h4 *ngIf="package.durationInDays">
              {{ package.durationInDays }} days
            </h4>
            <ul>
              <li *ngFor="let feature of package.features">
                <img src="/images/tick-square.png" alt="" />{{ feature }}
              </li>
            </ul>
          </div>
          <div class="sub-button">
            <button
              class="select-plan"
              [class.active]="selectedPackage === package.name?.toLowerCase()"
              (click)="selectPlan(package.name?.toLowerCase())"
            >
              Select Plan
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
