<div class="top-header">
  <div class="left-end">
    <h3><img src="/images/filter-square.png" alt="" />Today</h3>
  </div>

  <div class="right-end">
    <select name="" id="">
      <option value="">Today</option>
    </select>
    <select name="" id="">
      <option value="">Department</option>
    </select>
    <button>Export</button>
  </div>
</div>
<!-- <hr /> -->

<div class="hrm-tab">
  <div class="heading">
    <h3 style="font-weight: 500">HRM</h3>
    <h2
      style="
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      "
    >
      <img src="/images/Ellipse 10 (3).png" alt="" />
      Seamless HR:
      <span style="color: #5c8503; font-weight: 600">Connected</span>
    </h2>
    <a href="">Integrate</a>
  </div>
  <div class="hrm-emp-tab">
    <div class="card">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Headcount</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span style="font-weight: 700; font-size: 25px">250</span>
          <span style="font-size: 10px"> Employees</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Absenteeism</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span style="font-weight: 700; font-size: 25px">20%</span>
          <span style="font-size: 10px"> Employees</span>
        </li>
      </ul>
    </div>

    <div class="card">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Attrition Rate</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span style="font-weight: 700; font-size: 25px">10%</span>
          <span style="font-size: 10px"> Average</span>
        </li>
      </ul>
    </div>

    <div class="card">
      <img src="/images/Frame 114.png" alt="" />
      <ul>
        <li>Performance Alert</li>
        <li
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          "
        >
          <span style="font-weight: 700; font-size: 25px">2</span>
          <span style="font-size: 10px">Issues</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="left-side">
    <div class="attendance">
      <h3 style="font-weight: 700">Attendance</h3>
      <div class="attendance-dets">
        <h2>Early Clocking</h2>
        <h2 style="justify-self: center">70%</h2>
        <img src="/images/clock-green.png" alt="" />
      </div>
      <div class="attendance-dets">
        <h2>Late Clocking</h2>
        <h2 style="justify-self: center">20%</h2>
        <img src="/images/clock.png" alt="" />
      </div>
      <div class="attendance-dets">
        <h2>Absent</h2>
        <h2 style="justify-self: center">10%</h2>
        <img src="/images/clock.png" alt="" />
      </div>
    </div>
    <div class="performance">
      <h3 style="font-weight: 700">Performance Trend</h3>
      <div class="values">
        <div class="pie-chart chart-2">
          <div class="label label-10">20%</div>
          <div class="label label-20">10%</div>
          <div class="label label-70">70%</div>
        </div>
        <ul>
          <li><img src="/images/Ellipse green.png" alt="" />High 70&</li>
          <li><img src="/images/Ellipse amber.png" alt="" />Medium 20%</li>
          <li><img src="/images/Ellipse red.png" alt="" />Low 10%</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="right-side">
    <div class="performance-alert">
      <div class="box">
        <h3 style="font-weight: 700">Alert Metrics</h3>

        <table>
          <thead>
            <th>Employee Name</th>
            <th>Previous Score</th>
            <th>Current Score</th>
            <th>% Change</th>
            <th>Status</th>
          </thead>
          <tbody>
            <tr>
              <td>Nafisa Usman</td>
              <td>5%</td>
              <td>30%</td>
              <td>25%</td>
              <td
                class="bg-warning text-dark"
                style="border-radius: 10px; width: 90px"
              >
                Warning
              </td>
            </tr>
            <tr>
              <td>Nafisa Usman</td>
              <td>5%</td>
              <td>30%</td>
              <td>25%</td>
              <td
                class="bg-warning text-dark"
                style="border-radius: 10px; width: 90px"
              >
                Warning
              </td>
            </tr>
            <tr>
              <td>Nafisa Usman</td>
              <td>5%</td>
              <td>30%</td>
              <td>25%</td>
              <td
                class="bg-success text-dark"
                style="border-radius: 10px; width: 90px"
              >
                Normal
              </td>
            </tr>
            <tr>
              <td>Nafisa Usman</td>
              <td>5%</td>
              <td>30%</td>
              <td>25%</td>
              <td
                class="bg-danger text-dark"
                style="border-radius: 10px; width: 90px"
              >
                Critical
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
