.logo h1 {
  position: relative;
  bottom: 60px;
}
.details h1:nth-child(2) {
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

.details h4 {
  font-weight: 300;
}
.details {
  height: 452px;
  width: 730px;
}

.form-details {
  display: flex;
  gap: 20px;
  width: 730px;
}
.form-details label {
  width: 144px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.form-details input {
  width: 100%;
  height: 48px;
  border: 1px solid rgb(221, 212, 212);
  background-color: #f0eeee;
  border-radius: 5px;
  padding-left: 35px;
}

input:focus {
  border: none;
  outline: none;
}
.form-details input ::placeholder {
  color: blue;
  font-size: 20px;
}
.form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.select {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.select select {
  height: 48px;
  width: 50%;
  background-color: #f0eeee;
  border: none;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.bottom {
  width: 730px;
  display: flex;
  justify-content: space-between;
}

.bottom button {
  width: 200px;
  height: 48px;
  border-radius: 5px;
}
.bottom button:hover {
  cursor: pointer;
}

.bottom button:nth-child(1) {
  background-color: #f0eeee;
  border: none;
}

.bottom button:nth-child(1):hover {
  background-color: black;
  color: white;
}
.bottom button:nth-child(2) {
  background-color: black;
  border: none;
  color: white;
}
