.top-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 56px;
  align-items: center;
  padding: 0 20px 0 20px;

  .left-end h3 {
    font-weight: 700;
  }

  .right-end select {
    border: none;
  }

  .right-end {
    display: flex;
    gap: 16px;
  }
  .right-end button {
    width: 160px;
    height: 40px;
    background-color: #3e1f69;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.content-box {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 585px;
  background-color: #f0eeee;
  flex-direction: row;
  gap: 10px;
}

.left-side {
  flex-direction: column;
  display: flex;
  width: 60%;
  gap: 10px;
}

.right-side {
  flex-direction: column;
  display: flex;
  gap: 10px;
  width: 40%;
}

.integrate-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 220px;
  padding: 0 20px 16px 20px;
  background-color: white;
  border-radius: 5px;
}

.tab-title,
.alerts-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  h3 {
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }
}

.tools-integrated {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  h3 {
    font-size: 15px;
  }
  position: relative;
  top: 16px;
}
.seamlesshr-tool,
.communication-tool,
.project-tool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 1px solid #f0eeee;
  border-radius: 4px;
  height: 43px;
  padding: 16px;

  th {
    font-weight: 400;
    font-size: 12px;
  }
  td {
    font-size: 9px;
  }

  table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
  }
  .thead,
  .tbody {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.connected {
  color: #5c8503;
}
.disconnected {
  color: #e00f0f;
}
.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

///Alerts tab on dahboard screen
.alerts-tab {
  background-color: white;
  border-radius: 5px;
  height: fit-content;
  padding: 0 20px 16px 20px;
  display: flex;
  flex-direction: column;
  min-height: 355px;
}
.alert-tab-content {
  height: 304px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
  top: 10px;
}

.content {
  height: 72px;
  width: 100%;
  background-color: #f0eeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;

  h2 {
    font-weight: 400;
    font-size: 13px;
  }

  ul li:first-child {
    font-weight: 700;
    font-size: 18px;
  }
}
.content-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 10px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.tool-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-height: 273px;
  padding: 16px 20px 16px 20px;
  background-color: white;
  border-radius: 5px;
}

.tool-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    font-weight: 700;
  }
}

.hrm-cards {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;

  .cards {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 76px;
    background-color: #f0eeee;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    padding-left: 16px;

    li {
      list-style: none;
      font-size: 15px;
      font-weight: 400;
      span {
        font-weight: 700;
        font-size: 24px;
        color: black;
      }
      span + span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.proj-dets {
  // margin-top: 10px;
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.proj-visual-dets {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 10px;

  .green {
    width: 70%;
    height: 8px;
    border-radius: 5px;
    background-color: #5c8503;
  }
  .amber {
    width: 25%;
    height: 8px;
    border-radius: 5px;
    background-color: #f9b51e;
  }
  .red {
    width: 5%;
    height: 8px;
    border-radius: 5px;
    background-color: #e00f0f;
  }
}

.proj-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 340px;
  font-size: small;
  margin-top: 16px;

  ul {
    list-style: none;
  }
  li {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.circle-container {
  text-align: center;
  max-width: 200px;

  // h2 {
  //   position: relative;
  //   bottom: 10px;
  // }
  ul {
    position: relative;
    bottom: 10px;
  }
}

.circle {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: conic-gradient(#7cb342 0% 60%, #e0e0e0 60% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
}

.circle.message {
  background: conic-gradient(#63c1a0 0% 80%, #464eb8 80% 100%);
}

.circle.sentiment {
  background: conic-gradient(#5c8503 0% 60%, #f9b51e 15% 75%, #e00f0f 75% 100%);
}
.circle::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.value {
  position: relative;
  z-index: 1;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

h2 {
  margin: 0 0 15px 0;
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

ul {
  list-style: none;
}
li {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
}

.comm-dets {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  margin-top: 10px;
  height: 218px;
}
