<div class="top-header">
  <div class="left-end">
    <h3>Hi, Welcome back!</h3>
  </div>

  <div class="right-end">
    <select name="" id="">
      <option value="">Today</option>
    </select>
    <button>Report</button>
  </div>
</div>

<div class="content-box">
  <div class="hrm-box">
    <div class="hrm-title">
      <h3>HRM</h3>
      <a href="">See More</a>
    </div>

    <div class="hrm-cards">
      <div class="cards">
        <img src="/images/Frame 114.png" alt="" />
        <ul>
          <li>Headcount</li>
          <li><span>250</span> <span> Employees</span></li>
        </ul>
      </div>

      <div class="cards">
        <img src="/images/Frame 114.png" alt="" />
        <ul>
          <li>Absenteeism</li>
          <li><span>20%</span> <span> Employees</span></li>
        </ul>
      </div>

      <div class="cards">
        <img src="/images/Frame 114.png" alt="" />
        <ul>
          <li>Attrition Rate</li>
          <li><span>10%</span> <span> Average</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
