<div class="top-header">
  <div class="left-end">
    <h3>Hi, Welcome back!</h3>
  </div>

  <div class="right-end">
    <select name="" id="">
      <option value="">Today</option>
    </select>
    <button>Report</button>
  </div>
</div>

<div class="content-box">
  <div class="left-side">
    <div class="tool-box">
      <div class="tool-title">
        <h3>HRM</h3>
        <a href="">See More</a>
      </div>

      <div class="hrm-cards">
        <div class="cards">
          <img src="/images/Frame 114 (1).png" alt="" />
          <ul>
            <li>Headcount</li>
            <li><span>250</span> <span> Employees</span></li>
          </ul>
        </div>

        <div class="cards">
          <img src="/images/Frame 114.png" alt="" />
          <ul>
            <li>Absenteeism</li>
            <li><span>20%</span> <span> Employees</span></li>
          </ul>
        </div>

        <div class="cards">
          <img src="/images/Frame 114.png" alt="" />
          <ul>
            <li>Attrition Rate</li>
            <li><span>10%</span> <span> Average</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tool-box">
      <div class="tool-title">
        <h3>Project Management</h3>
        <a href="">See More</a>
      </div>

      <div class="proj-dets">
        <h2>7% <span>Percentage Change</span></h2>

        <div class="proj-visual-dets">
          <div class="green"></div>
          <div class="amber"></div>
          <div class="red"></div>
        </div>

        <div class="proj-status">
          <ul>
            <li><img src="/images/Ellipse green.png" alt="" />Active-70%</li>
          </ul>
          <ul>
            <li><img src="/images/Ellipse amber.png" alt="" />Pending-25%</li>
          </ul>
          <ul>
            <li><img src="/images/Ellipse red.png" alt="" />Inactive-5%</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tool-box">
      <div class="tool-title">
        <h3>Coomunication Tools</h3>
        <a href="">See More</a>
      </div>

      <div class="comm-dets">
        <div class="circle-container">
          <div class="circle workspace">
            <span class="value">10</span>
          </div>
          <h2>Workspaces</h2>
          <ul>
            <li><img src="/images/Ellipse green.png" alt="" />Active - 6</li>
            <li><img src="/images/Ellipse 10 (2).png" alt="" />Inactive - 4</li>
          </ul>
        </div>

        <div class="circle-container">
          <div class="circle message">
            <span class="value">1000</span>
          </div>
          <h2>Message Volume</h2>
          <ul>
            <li><img src="/images/Ellipse 10.png" alt="" />Slack</li>
            <li><img src="/images/Ellipse 10 (1).png" alt="" />Teams</li>
          </ul>
        </div>

        <div class="circle-container">
          <div class="circle sentiment">
            <span class="value">80%</span>
          </div>
          <h2>Sentiment Trends</h2>
          <ul>
            <li>
              <img src="/images/Ellipse green.png" alt="" />Positive - 60%
            </li>
            <li><img src="/images/Ellipse amber.png" alt="" />Neutral - 10%</li>
            <li><img src="/images/Ellipse red.png" alt="" />Negative - 10%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="right-side">
    <div class="integrate-tab">
      <div class="tab-title">
        <h3>Integration</h3>
        <a href="">Integrate</a>
      </div>

      <div class="tools-integrated">
        <div class="seamlesshr-tool">
          <h3>Seamless HR</h3>
          <table>
            <thead>
              <tr>
                <th>Seamless HR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="connected">Connected</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="communication-tool">
          <h3>Communication Tool</h3>
          <div class="tables">
            <table>
              <thead>
                <tr>
                  <th>Teams</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="connected">Connected</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th>Slack</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="disconnected">Disconnected</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th>Outlook</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="disconnected">Disconnected</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="project-tool">
          <h3>Project Management</h3>
          <div class="tables">
            <table>
              <thead>
                <tr>
                  <th>Jira</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="connected">Connected</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th>Planner</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="disconnected">Disconnected</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="alerts-tab">
      <div class="alerts-title">
        <h3>Alerts</h3>
        <a href="" style="text-decoration: underline">See More</a>
      </div>
      <div class="alert-tab-content">
        <div class="content">
          <h2>Sentiment Drop Analysis</h2>
          <div class="content-list">
            <ul>
              <li>2</li>
              <li>Total Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-close.png" alt="" />1</li>
              <li>Unresolved Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-tick.png" alt="" />1</li>
              <li>Resolved Alerts</li>
            </ul>
          </div>
        </div>
        <div class="content">
          <h2>Micro-Insight</h2>
          <div class="content-list">
            <ul>
              <li>3</li>
              <li>Total Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-close.png" alt="" />1</li>
              <li>Unresolved Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-tick.png" alt="" />2</li>
              <li>Resolved Alerts</li>
            </ul>
          </div>
        </div>

        <div class="content">
          <h2>Predictive Alerts</h2>
          <div class="content-list">
            <ul>
              <li>4</li>
              <li>Total Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-close.png" alt="" />2</li>
              <li>Unresolved Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-tick.png" alt="" />2</li>
              <li>Resolved Alerts</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
