<div class="top-header">
  <div class="left-end">
    <h3>Hi, Welcome back!</h3>
  </div>

  <div class="right-end">
    <select name="" id="">
      <option value="">Today</option>
    </select>
    <button class="secondary-btn">Report</button>
  </div>
</div>

<div class="content-box">
  <div class="left-side">
    <div class="tool-box">
      <div class="tool-title">
        <h3>HRM</h3>
        <a routerLink="/home/alerts">See More</a>
      </div>

      <div class="hrm-cards">
        <div class="cards">
          <img src="/images/Frame 114 (1).png" alt="" />
          <ul>
            <li>Headcount</li>
            <li>
              <span>{{ summary?.headcount }}</span> <span> Employees</span>
            </li>
          </ul>
        </div>

        <div class="cards">
          <img src="/images/Frame 114.png" alt="" />
          <ul>
            <li>Absenteeism</li>
            <li>
              <span>{{ summary?.absenteeism }}</span> <span> Employees</span>
            </li>
          </ul>
        </div>

        <div class="cards">
          <img src="/images/Frame 114.png" alt="" />
          <ul>
            <li>Attrition Rate</li>
            <li>
              <span>{{ summary?.attritionRate }}</span> <span> Average</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tool-box">
      <div class="tool-title">
        <h3>Project Management</h3>
        <a href="">See More</a>
      </div>

      <div class="proj-dets">
        <h2>{{ summary?.percentageChange }}% <span>Percentage Change</span></h2>

        <div class="proj-visual-dets">
          <div
            class="green"
            [ngStyle]="{ width: getProjPercent('toDoStatus') + '%' }"
          ></div>
          <div
            class="amber"
            [ngStyle]="{ width: getProjPercent('inProgressStatus') + '%' }"
          ></div>
          <div
            class="red"
            [ngStyle]="{ width: getProjPercent('doneStatus') + '%' }"
          ></div>
        </div>

        <div class="proj-status">
          <ul>
            <li>
              <img src="/images/Ellipse green.png" alt="" />Active-{{
                getProjPercent("toDoStatus")
              }}%
            </li>
          </ul>
          <ul>
            <li>
              <img src="/images/Ellipse amber.png" alt="" />Pending-{{
                getProjPercent("inProgressStatus")
              }}%
            </li>
          </ul>
          <ul>
            <li>
              <img src="/images/Ellipse red.png" alt="" />Inactive-{{
                getProjPercent("doneStatus")
              }}%
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tool-box">
      <div class="tool-title">
        <h3>Coomunication Tools</h3>
        <a href="">See More</a>
      </div>

      <div class="comm-dets">
        <div class="circle-container">
          <div
            class="circle workspace"
            [ngStyle]="{
              background: getChannelGradient(
                summary?.activeChannels,
                summary?.inactiveChannels
              )
            }"
          >
            <span class="value">{{
              (summary?.activeChannels || 0) + (summary?.inactiveChannels || 0)
            }}</span>
          </div>
          <h2>Workspaces</h2>
          <ul>
            <li>
              <img src="/images/Ellipse green.png" alt="" />Active -
              {{ summary?.activeChannels }}
            </li>
            <li>
              <img src="/images/Ellipse 10 (2).png" alt="" />Inactive -
              {{ summary?.inactiveChannels }}
            </li>
          </ul>
        </div>

        <div class="circle-container">
          <div
            class="circle message"
            [ngStyle]="{
              background: getMessageGradient(
                summary?.slackMessageVolume,
                summary?.teamsMessageVolume
              )
            }"
          >
            <span class="value"
              >{{
                (summary?.slackMessageVolume || 0) +
                  (summary?.teamsMessageVolume || 0)
              }}
            </span>
          </div>
          <h2>Message Volume</h2>
          <ul>
            <li *ngIf="summary?.isSlackConnected">
              <img src="/images/Ellipse 10.png" alt="" />Slack
            </li>
            <li *ngIf="summary?.isTeamsConnected">
              <img src="/images/Ellipse 10 (1).png" alt="" />Teams
            </li>
          </ul>
        </div>

        <div class="circle-container">
          <div
            class="circle sentiment"
            [ngStyle]="{
              background: getSentimentGradient(
                summary?.positiveSentiment,
                summary?.negativeSentiment,
                summary?.neutralSentiment
              )
            }"
          >
            <span class="value">{{
              (summary?.positiveSentiment || 0) +
                (summary?.negativeSentiment || 0) +
                (summary?.neutralSentiment || 0)
            }}</span>
          </div>
          <h2>Sentiment Trends</h2>
          <ul>
            <li>
              <img src="/images/Ellipse green.png" alt="" />Positive -
              {{ summary?.positiveSentiment || 0 }}
            </li>
            <li>
              <img src="/images/Ellipse red.png" alt="" />Negative -
              {{ summary?.negativeSentiment || 0 }}
            </li>
            <li>
              <img src="/images/Ellipse amber.png" alt="" />Neutral -
              {{ summary?.neutralSentiment || 0 }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="right-side">
    <div class="integrate-tab">
      <div class="tab-title">
        <h3>Integration</h3>
        <a routerLink="/home/integrate-dash">Integrate</a>
      </div>

      <div class="tools-integrated">
        <div class="seamlesshr-tool">
          <h3>Seamless HR</h3>
          <table>
            <thead>
              <tr>
                <th>Seamless HR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="summary?.isSeamlessHrConnected">
                <td class="connected">Connected</td>
              </tr>
              <tr *ngIf="!summary?.isSeamlessHrConnected">
                <td class="disconnected">Disconnected</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="communication-tool">
          <h3>Communication Tool</h3>
          <div class="tables">
            <table>
              <thead>
                <tr>
                  <th>Teams</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!summary?.isTeamsConnected">
                  <td class="disconnected">Disconnected</td>
                </tr>
                <tr *ngIf="summary?.isTeamsConnected">
                  <td class="connected">Connected</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th>Slack</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!summary?.isSlackConnected">
                  <td class="disconnected">Disconnected</td>
                </tr>
                <tr *ngIf="summary?.isSlackConnected">
                  <td class="connected">Connected</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th>Outlook</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!summary?.isOutlookConnected">
                  <td class="disconnected">Disconnected</td>
                </tr>
                <tr *ngIf="summary?.isOutlookConnected">
                  <td class="connected">Connected</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="project-tool">
          <h3>Project Management</h3>
          <div class="tables">
            <table>
              <thead>
                <tr>
                  <th>Jira</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="summary?.isJiraConnected">
                  <td class="connected">Connected</td>
                </tr>
                <tr *ngIf="!summary?.isJiraConnected">
                  <td class="disconnected">Disconnected</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th>Planner</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!summary?.isPlannerConnected">
                  <td class="disconnected">Disconnected</td>
                </tr>
                <tr *ngIf="summary?.isPlannerConnected">
                  <td class="connected">Connected</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="alerts-tab">
      <div class="alerts-title">
        <h3>Alerts</h3>
        <a routerLink="/home/alerts" style="text-decoration: underline"
          >See More</a
        >
      </div>
      <div class="alert-tab-content">
        <div class="content">
          <h2>Sentiment Drop Analysis</h2>
          <div class="content-list">
            <ul>
              <li>2</li>
              <li>Total Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-close.png" alt="" />1</li>
              <li>Unresolved Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-tick.png" alt="" />1</li>
              <li>Resolved Alerts</li>
            </ul>
          </div>
        </div>
        <div class="content">
          <h2>Micro-Insight</h2>
          <div class="content-list">
            <ul>
              <li>3</li>
              <li>Total Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-close.png" alt="" />1</li>
              <li>Unresolved Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-tick.png" alt="" />2</li>
              <li>Resolved Alerts</li>
            </ul>
          </div>
        </div>

        <div class="content">
          <h2>Predictive Alerts</h2>
          <div class="content-list">
            <ul>
              <li>4</li>
              <li>Total Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-close.png" alt="" />2</li>
              <li>Unresolved Alerts</li>
            </ul>
            <ul>
              <li><img src="/images/clipboard-tick.png" alt="" />2</li>
              <li>Resolved Alerts</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
