<div class="navbar">
  <div class="left-end">
    <img src="/images/menu-dash.png" alt="" />
    <div class="search-container">
      <input
        type="text"
        name=""
        id=""
        placeholder="Search by name, department"
      /><img src="images/search-normal-dash.png" alt="" />
    </div>
  </div>

  <div class="right-end">
    <img src="images/sms-notification-dash.png" alt="" />
    <img src="images/notification-dash.png" alt="" />
    <img src="images/Ellipse 7.png" alt="" />
    <select name="" id="">
      <option>{{ userFullName }}</option>
    </select>
    <img src="images/more-dash.png" alt="" />
  </div>
</div>
