/* Navbar Styles */
.navbar {
  width: 100%;
  padding: 10px 20px;
  height: 100%;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.left-end,
.right-end {
  display: flex;
  align-items: center;
  gap: 20px; /* spacing between items */

  img {
    cursor: pointer;
  }
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding-left: 25px; /* space for the icon */
  height: 20px; /* optional: control height */
  border: none;
  border-radius: 4px;
  width: 230px;
}

.search-container img {
  position: absolute;
  left: 1px;
  width: 16px;
  height: 16px;
  pointer-events: none; /* allows clicks to pass through */
}

.right-end select {
  border: none;
}
