.grid-container {
  background-color: #cec8c8;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
}

.registration-content {
  width: fit-content;
  min-width: 890px;
  height: fit-content;
  min-height: 650px;
  align-items: center;
  justify-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
