<app-alert
  [message]="alertMessage"
  [type]="alertType"
  [visible]="showAlert"
></app-alert>

<div class="logo-pic">
  <img src="/images/logo.png" alt="" />
</div>
<div class="display">
  <h1>Welcome Back!</h1>
  <h3>Please Your New Password</h3>

  <form class="form" [formGroup]="resetForm" (ngSubmit)="onReset()">
    <label for="password">Password</label>
    <div class="form-details password-field">
      <input
        id="newPassword"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="newPassword"
        placeholder="Enter Password"
      />
      <div (click)="togglePasswordVisibility()" class="eye-icon-reset">
        <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
      </div>
    </div>

    <div class="link">
      <a [routerLink]="['/start']">Back</a>
    </div>

    <div class="bottom-display">
      <button
        style="background-color: #3e1f69; color: white"
        type="submit"
        [disabled]="isButtonLoading"
      >
        <span *ngIf="!isButtonLoading">Reset Password</span>
        <span *ngIf="isButtonLoading" class="button-loader">
          <span class="spinner"></span>
          Reseting Password
        </span>
      </button>
    </div>
  </form>
</div>
