<div class="onboard-content">
  <div class="logo">
    <h1>LOGO</h1>
  </div>
  <div class="display">
    <h3>Please enter your details to signup</h3>

    <div class="form">
      <label for="fName">Full Name</label>
      <input type="text" placeholder="Enter full name" />
      <label for="email">Email Address</label>
      <input type="email" placeholder="Enter email address" />
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" />
    </div>
  </div>

  <div class="bottom-display">
    <button [routerLink]="['/start/login']">Log in</button>
    <span>Or</span>
    <button>Google</button>
    <button>Microsoft Azure</button>
  </div>
</div>
