<div class="logo">
  <h1>LOGO</h1>
</div>
<div class="display">
  <h3>Please enter your details to signup</h3>

  <div class="form">
    <label for="fName">Full Name</label>
    <input type="text" placeholder="Enter full name" />
    <label for="email">Email Address</label>
    <input type="email" placeholder="Enter email address" />
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" />
  </div>
</div>

<div class="bottom-display">
  <button [routerLink]="['/start/verify']">Sign Up</button>
  <span>Or</span>
  <button>
    <img
      src="/images/Symbol.png"
      alt="Microsoft Logo"
      style="width: 20px; height: 20px"
    />
    Google
  </button>
  <button>
    <img
      src="/images/microsoft.png"
      alt="Microsoft Logo"
      style="width: 20px; height: 20px"
    />
    Microsoft Azure
  </button>
</div>
