<div class="project-tools-section">
  <div class="header">
    <h3>Project Tools</h3>
    <div class="connections">
      <span *ngIf="summary?.isJiraConnected"
        >Jira <span class="status connected">Connected</span></span
      >
      <span *ngIf="summary?.isPlannerConnected"
        >Planner <span class="status connected">Connected</span></span
      >
    </div>
    <a href="#" class="integrate-link">Integrate</a>
  </div>

  <div class="stats-cards">
    <div class="card">
      <img src="/images/Frame 114 (2).png" alt="Total Projects" />
      <p style="margin: 0; font-size: 16px">Total Projects</p>
      <span style="font-size: 20px; font-weight: bold">{{
        projectData?.totalProjects || 0
      }}</span>
    </div>
    <div class="card">
      <img src="/images/Frame 114 (2).png" alt="Completed Projects" />
      <p style="margin: 0; font-size: 16px">Completed Projects</p>
      <span style="font-size: 20px; font-weight: bold">{{
        projectData?.completedProjects || 0
      }}</span>
    </div>

    <div class="card">
      <img src="/images/Frame 114 (2).png" alt="Ongoing Projects" />
      <p style="margin: 0; font-size: 16px">Ongoing Projects</p>
      <span style="font-size: 20px; font-weight: bold">{{
        projectData?.ongoingProjects || 0
      }}</span>
    </div>

    <div class="card">
      <img src="/images/Frame 114 (2).png" alt="Over Due Projects" />
      <p style="margin: 0; font-size: 16px">Over Due Projects</p>
      <span style="font-size: 20px; font-weight: bold">{{
        projectData?.overDueProjects || 0
      }}</span>
    </div>
  </div>
</div>

<!-- Projects Table Section -->
<div class="projects-section">
  <div class="projects">
    <h4>Projects</h4>
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>No Of Task</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectData of projectData?.projects">
          <td>{{ projectData?.projectName }}</td>
          <td>{{ projectData?.numberOfTasks }}</td>
          <td>
            <a
              [routerLink]="[
                '/home/project-management/view-projects',
                projectData.projectId
              ]"
              >view <img src="/images/eye.png" alt="" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
