@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Times New Roman";
}

:root {
  --primary-color: #5c3c92;
  --secondary-color: #077b8a;
  --accent-color: #f39c12;

  --background-color: white;
  --text-color: #333;
  --border-color: #ccc;

  --btn-primary-bg: var(--primary-color);
  --btn-secondary-bg: var(--secondary-color);
}

h1 {
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 200;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}
