@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.scss");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Times New Roman";
}

:root {
  --primary-color: #5c3c92;
  --secondary-color: #077b8a;
  --accent-color: #f39c12;

  --background-color: #f5f5f5;
  --text-color: #333;
  --border-color: #ccc;

  --btn-primary-bg: var(--primary-color);
  --btn-secondary-bg: var(--secondary-color);
}

h1 {
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 200;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HKNova";
  src: url("/assets/fonts/HK_Nova_Full_Family/HKNova-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}
